/*
  Custom styles for Trackster App
*/
html {
  font-size: 16px;

}

header {
  background-color: rgb(35, 2, 63);
  padding: 1rem 0;
}

h1 {
  font-family: Righteous, sans-serif;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
  padding: 0;
  margin: 0;
}

.lessPadding {
  padding: 0.25rem;
}

.searchInputContainer {
  display: flex;
  border-radius: 2em;
  background-color: rgb(255,255,255);
  height: 2rem;
  width: 100%;
  border: 0;
  padding: 0 1em;
  margin: 0.25rem 0;
  color: rgb(191,191,191);
}

#xButton {
  border: 0;
  padding: 0;
  margin: 3px -1em 0 0;
  height: 100%;
  padding: 0.5em 1em 0 0;
}

#searchInput {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#searchInput:focus {
  outline: none;
  color: rgb(74, 74, 74);
}

#searchButton {
  border-radius: 2em;
  background-color: rgb(255,102,204);
  height: 2rem;
  width: auto;
  border: 0;
  padding: 0 0.5em;
  margin: 0.25rem 0;
}

#searchButton:hover {
  background-color: rgb(255, 0, 171);
}

.resultsHeader {
  height: 3em;
  padding: 1em 0;
  background-color: rgb(104, 0, 255);
  color: rgb(255,255,255);
}

#resultRow {
  height: 3em;
  padding: 1em 0;
  color: rgb(74, 74, 74);
}
#resultRow:hover {
  background-color: rgb(239,237,242);
}

.fa-play-circle-o, .fa-pause-circle-o  {
  color: rgb(255, 0, 171);
  margin-top: -0.25em;
}

.noTextWrapping {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.playBackCtrl {

}
